@import './styles/base.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  height: 100vh;
  background-color: var(--BACKGROUND-COLOR);
}

header{
  display: flex;
  align-items: center;
  
}

#root{
  display: grid;
  grid-template-columns: 275px 1fr;
  min-height: 100vh;
}
.section-left,.section-right{
  display: grid;
  grid-template-rows: 175px 70%;
}